	<section id="slider-deli">
		<!-- Slider -->
		<div class="rev_slider_wrapper fullscreen-container" >
			<div id="rev_slider_1" class="rev_slide fullscreenbanner" style="display: none;">
				<ul>
					<!-- Slide 1 -->
					<li data-transition="fade" data-delay="51000">
						<img src="images/slide-01.jpg" alt="Seasonal Flavours" class="rev-slidebg"
						data-bgposition="center center"
						data-bgfit="cover" 
         				data-bgrepeat="no-repeat">

						<div class="rs-background-video-layer" 
							         data-ytid="pMN5D5FWCxI" 
							         data-volume="mute" 
							         data-forcerewind="on" 
							         data-nextslideatend="true" 
							         data-videoloop="loopandnoslidestop" 
							         data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&wmode=opaque&showinfo=0&rel=0&
							         origin=http://templates.aucreative.co" 
							         data-videorate="1" 
							         data-videowidth="100%" 
							         data-videoheight="100%" 
							         data-videocontrols="none" 
							         data-videostartat="00:30" 
							         data-videoendat="01:21"
							         data-forcecover="1" 
							         data-aspectratio="16:9" 
							         data-autoplay="true" 
							         data-autoplayonlyfirsttime="false"
						></div>
					
						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Seasonal Flavours</h3>
						
						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">VIEW MENU</a>
								<a href="reservation-02.html" class="btn2">BOOK A TABLE</a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-transition="fade">
						<img src="images/slide-02.jpg" alt="Fresh Ingredients" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme  caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-80','-80','-140','-140']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Fresh Ingredients</h3>

					    <div  class="tp-caption tp-resizeme btn-slide caption-2"
						data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['15','15','15','5']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">Fresh. Delicious. Healthy.</div>
						
						<div id="btn-slide-2" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":3100,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['110','110','140','140']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">VIEW MENU</a>
								<a href="reservation-02.html" class="btn2">BOOK A TABLE</a>
						</div>
					</li>

					<!-- Slide 3 -->
					<li data-transition="fade">
						<img src="images/slide-03.jpg" alt="Deli Restaurant" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']"
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Deli Restaurant</h3>
						
						<div id="btn-slide-3" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']"
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">VIEW MENU</a>
								<a href="reservation-02.html" class="btn2">BOOK A TABLE</a>
						</div>
					</li>
				</ul>				
			</div>
		</div>
		<!-- End Slider -->
	</section>